<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <app-navbar (sidenavToggle)="toggleSidenav()"></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" position="end">
    <mat-toolbar class="d-flex flex-row justify-content-between">
      <span>Shopping Cart</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <!-- Add your sidenav content here -->
      <app-shopping-cart />
    </div>
  </mat-sidenav>
</mat-sidenav-container>